---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/info/Header.astro";
import InformacionApi from "../../components/info/InformacionApi.astro";
---

<Layout title="Información - SuperHero API">
  <main class="flex flex-col gap-4 mb-8 lg:gap-8">
    <Header />
    <article class="p-[16px] min-h-[200px]">
      <InformacionApi />
    </article>
  </main>
</Layout>
