---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/Header.astro";
import Listar from "../components/home/Listar.astro";
---

<Layout title="SuperHero API">
  <main class="flex flex-col gap-4 mb-8 lg:gap-8">
    <Header />
    <Listar/>
  </main>
</Layout>
