<header
  class="py-8 px-4 mx-auto lg:py-16 lg:px-6 flex justify-center items-center w-full bg-[url(https://images6.alphacoders.com/705/705204.jpg)] bg-cover bg-no-repeat min-h-[600px] bg-center"
>
  <div class="mx-auto text-center flex flex-col gap-4 mb-8 lg:mb-16">
    <h1
      class="text-5xl font-bold text-white lg:text-7xl [text-shadow:2px_2px_4px_#000000]"
    >
      SuperHero API
    </h1>
    <p
      class="text-lg text-gray-100 [text-shadow:2px_2px_4px_#000000] lg:text-2xl"
    >
      Lista de superhéroes de todos los universos cinematosgráficos y de cómics.
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-48 mx-auto lg:w-64 lg:py-3 lg:px-6 lg:text-xl lg:rounded-lg lg:hover:bg-blue-800 lg:focus:ring-4 lg:focus:outline-none lg:focus:ring-blue-300 lg:dark:bg-blue-600 lg:dark:hover:bg-blue-700 lg:dark:focus:ring-blue-800"
    >
      <a href="/info">Ver información API</a>
    </button>
  </div>
</header>
